# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Wizard's Chess.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Unity Projects\Wizard's Chess\.idea\.idea.Wizard's Chess\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
